body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYYPpeDAjosa8uI6HOgoWnf0uR6NjvrIVB-K6chrWHNw&s=10");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: sans-serif;
    padding: 0px 5% 30px;
}

h1 {
    color: darkblue;
    text-align: center;
}

h1 {
    color: darkblue;
    text-align: center;
}


img {
    width: 250px;
}



